version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: processing_api
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
      - redis

  worker:
    build:
      context: ./backend
      dockerfile: worker/Dockerfile
    container_name: processing_worker
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb
      - redis

  mongodb:
    image: mongo:7
    container_name: processing_mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: processing_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data:
